<div class="max-w-7xl mx-auto px-4 sm:px-8 mb-10 md:mb-5">
    <!-- Header Section -->
    <div class="flex flex-col justify-center items-center py-6">
        <h2 class="text-4xl font-bold text-sat-xl">Devices</h2>
    </div>

    <div class="overflow-x-auto rounded-lg border border-base bg-cards">
        <table class="min-w-full divide-y divide-base">
            <thead class="bg-muted/10">
            <tr>
                <th scope="col" class="px-4 py-3 text-left text-xs  text-sat-l font-medium uppercase tracking-wider text-muted-foreground">ID</th>
                <th scope="col" class="px-4 py-3 text-left text-xs  text-sat-l font-medium uppercase tracking-wider text-muted-foreground">Probe</th>
                <th scope="col" class="px-4 py-3 text-left text-xs  text-sat-l font-medium uppercase tracking-wider text-muted-foreground">Name</th>
                <th scope="col" class="px-4 py-3 text-left text-xs  text-sat-l font-medium uppercase tracking-wider text-muted-foreground">MAC</th>
                <th scope="col" class="px-4 py-3 text-left text-xs  text-sat-l font-medium uppercase tracking-wider text-muted-foreground">IP</th>
                <th scope="col" class="px-4 py-3 text-left text-xs  text-sat-l font-medium uppercase tracking-wider text-muted-foreground">Port</th>
            </tr>
            </thead>
            <tbody class="divide-y divide-base">
            {% for device in devices %}
            <tr class="hover:bg-muted/5 transition-colors">
                <!-- device[1] is Device -->
                <td class="px-4 py-3 font-mono text-sm text-sat-l">
                    <a href="/device/{{ device[1].id }}" class="text-primary hover:underline">
                        {{ device[1].id }}
                    </a>
                </td>

                <!-- device[0] is Option<Probe> -->
                <td class="px-4 py-3 text-sm">
                    {% if device[0] %}
                    <a href="/probe/{{ device[0].id }}" class="text-primary hover:underline">
                        {{ device[0].id }}
                    </a>
                    {% else %}
                    <span class="text-muted-foreground">—</span>
                    {% endif %}
                </td>
                <td class="px-4 py-3 text-sm text-sat-l">{% if device[1].name is not none %}{{ device[1].name }} {% else %} <span class="text-muted-foreground">—</span>{% endif %}</td>
                <td class="px-4 py-3 text-sm text-sat-l">{{ device[1].mac }}</td>
                <td class="px-4 py-3 text-sm text-sat-l">{{ device[1].ip }}</td>
                <td class="px-4 py-3 text-sm text-sat-l">{{ device[1].port }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if devices|length == 0 %}
        <div class="p-6 text-center text-muted-foreground">
            No devices found.
        </div>
        {% endif %}
    </div>
</div>
