<div class="container mx-auto p-6 max-w-7xl">
    <form hx-post="/brand/edit" hx-push-url="/brand/{{ brand.id }}" hx-target="#content-area" hx-target-error="#content-area" class="bg-forms shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <input class="hidden" name="id" value="{{brand.id}}">
        <h2 class="block text-forms text-xl font-bold mb-2 text-center">Edit Brand</h2>

        <div class="mb-4">
            <label class="block text-forms text-sm font-bold mb-2" for="brand-name">
                Name
            </label>
            <input name="name"
                   class="shadow appearance-none border rounded w-full py-2 px-3 text-forms-input leading-tight focus:outline-none focus:shadow-outline"
                   id="brand-name" type="text"  value="{{brand.name}}" placeholder="Brand Name">
        </div>

        <div class="mb-4">
            <label class="block text-forms text-sm font-bold mb-2" for="description">
                Description
            </label>
            <textarea name="description"
                      rows="30"
                      class="shadow appearance-none border rounded w-full py-2 px-3 text-forms-input leading-tight focus:outline-none focus:shadow-outline"
                      id="description" placeholder="Description">{{ brand.description }}</textarea>
        </div>

        <div class="flex justify-end">
            <button hx-target="#content-area" class="bg-acc  text-button font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="submit">
                Save
            </button>
        </div>
    </form>
</div>