<head>
    <meta charset="UTF-8">
    <!--    uncomment this-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Alema Vintage Bikes, Buy Colnago, Bianchi, Pegueot and Hetchins bicycles restored with passion by a small family firm in Slovakia.">
    <meta name="keywords"
          content="Alema Vintage Bikes, Colnago bicycles, ebay, road bikes, cycling technology, historical bicycles, Italian bicycles, Vintage bicycles, Bianchi, Hetchins, Peugeot,
                    Bike restoration, Vintage Bikes, Bikes, Colnago Slovakia">
    <meta name="author" content="Alema Vintage Bikes">
    <title>{% block title %} Alema Vintage Bikes - Buy Restored Vintage Bikes{% endblock %}</title>

    <script src="/static/js/htmx.min.js"></script>
    <script src="/static/js/htmx-response-targets.js"></script>
    <script src="/static/js/fa.js"></script>

    <link rel="stylesheet" href="/static/css/output.css"/>
    <link rel="stylesheet" href="/static/photoswipe/photoswipe.css"/>

    <link href="/static/images/export/alema-icon-black.png" rel="icon" media="(prefers-color-scheme: light)">
    <link href="/static/images/export/alema-icon-white.png" rel="icon" media="(prefers-color-scheme: dark)">
</head>
