<div id="navbar"
     class="bg-ui-components p-2 sm:p-4 flex shadow-md fixed w-full z-10 top-0 h-16 sm:h-20 justify-between items-center">
    <!-- Logo -->
    <a id="navbar-image" href="/" class="flex items-center">
        <!-- Desktop Image -->
        <picture>
            <source srcset="/static/images/export/alema-white.png" media="(prefers-color-scheme:dark)">
            <img src="/static/images/export/alema-black.png"
                 alt="Logo"
                 class="w-full h-16 py-2 sm:py-2 md:py-1 lg:py-1 xl:py-1 2xl:py-1"
            >
        </picture>

        <!-- Mobile Image -->
        <!--        <img src="/static/images/export/alema-icon-black.png"-->
        <!--             alt="Logo"-->
        <!--             class="block sm:hidden w-full h-16 py-2">-->
    </a>

    <!-- Navigation Links Laptop View -->
    <div id="laptop-menu" class="hidden lg:flex lg:items-center lg:space-x-10 xl:space-x-16 xl:text-xl">
        <a href="/" class="flex items-center text-navbar-buttons hover:scale-110 cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3"
                 stroke="currentColor"
                 class="w-6 h-6 mr-2">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"/>
            </svg>
            Home
        </a>
        <a href="/bike"
           class="flex items-center text-navbar-buttons hover:text-navbar-buttons-acc hover:scale-110 cursor-pointer">
            <i class="fa-solid fa-bicycle text-3l w-6 h-6 mr-2 lg:mt-2 xl:mt-1"></i>
            Bikes
        </a>
        <a href="/brand"
           class="flex items-center text-navbar-buttons hover:text-navbar-buttons-acc hover:scale-110 cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3"
                 stroke="currentColor"
                 class="w-6 h-6 mr-2 mt-0 xl:mt-0.5">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0ZM3.75 12h.007v.008H3.75V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm-.375 5.25h.007v.008H3.75v-.008Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"/>
            </svg>
            Brands
        </a>
        <a href="/model"
           class="flex items-center text-navbar-buttons hover:text-navbar-buttons-acc hover:scale-110 cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3"
                 stroke="currentColor"
                 class="w-6 h-6 mr-2 mt-0 xl:mt-0.5">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0ZM3.75 12h.007v.008H3.75V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm-.375 5.25h.007v.008H3.75v-.008Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"/>
            </svg>
            Models
        </a>
        <a href="/about"
           class="flex items-center text-navbar-buttons hover:text-navbar-buttons-acc hover:scale-110 cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3"
                 stroke="currentColor"
                 class="w-6 h-6 mr-2 mt-0 xl:mt-0.5">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0ZM3.75 12h.007v.008H3.75V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm-.375 5.25h.007v.008H3.75v-.008Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"/>
            </svg>
            About Us
        </a>
        {% if logged_in %}
        <a href="/image"
           class="flex items-center text-navbar-buttons hover:text-navbar-buttons-acc hover:scale-110 cursor-pointer">
            <i class="fa-solid fa-image text-3l w-6 h-6 mr-2 lg:mt-2 xl:mt-1"></i>
            Images
        </a>
        <a href="/user/manage"
           class="flex items-center text-navbar-buttons hover:text-navbar-buttons-acc hover:scale-110 cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3"
                 stroke="currentColor"
                 class="w-6 h-6 mr-2">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"/>
            </svg>
            Profile
        </a>
        {% endif %}
    </div>

    <!-- Login/Logout -->
    <div class="hidden lg:flex lg:items-center">
        {% if logged_in %}
        <a href="/user/logout"
           class="flex items-center text-navbar-buttons hover:text-navbar-buttons-acc hover:scale-110">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3"
                 stroke="currentColor"
                 class="mr-2 w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9"/>
            </svg>
            Log out
        </a>
        {% else %}
        <a href="/user/login"
           class="flex items-center text-navbar-buttons hover:text-navbar-buttons-acc hover:scale-110">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3"
                 stroke="currentColor"
                 class="mr-2 w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9"/>
            </svg>
            Admin
        </a>
        {% endif %}
    </div>

    <!-- Hamburger Menu Button -->
    <div class="flex lg:hidden items-center">
        <button
                id="hamburger"
                onclick="toggleMenu()"
                class="focus:outline-none "
                aria-label="Toggle menu"
                aria-expanded="false"
        >
            <div class="w-10 h-0.5 md:w-12 md:h-1 m-2 bg-navbar-buttons"></div>
            <div class="w-10 h-0.5 md:w-12 md:h-1 m-2 bg-navbar-buttons"></div>
            <div class="w-10 h-0.5 md:w-12 md:h-1 m-2 bg-navbar-buttons"></div>
        </button>
    </div>
</div>

<!-- Navigation Links Mobile View -->
<div id="phone-menu" class="fixed top-16 left-0 w-full bg-ui-hamburger text-2xl pt-4 sm:pt-8 lg:pt-10 pb-6 lg:hidden hidden">
    <div class="flex flex-col space-y-6 items-center">
        <a href="/" class="flex items-center text-navbar-buttons hover:text-navbar-buttons-acc hover:scale-110">
            Home
        </a>
        <a href="/bike" class="flex items-center  text-navbar-buttons hover:text-navbar-buttons-acc hover:scale-110">
            Bikes
        </a>
        <a href="/brand" class="flex items-center  text-navbar-buttons hover:text-navbar-buttons-acc hover:scale-110">
            Brands
        </a>
        <a href="/model" class="flex items-center  text-navbar-buttons hover:text-navbar-buttons-acc hover:scale-110">
            Models
        </a>
        <a href="/about" class="flex items-center  text-navbar-buttons hover:text-navbar-buttons-acc hover:scale-110">
            About Us
        </a>
        {% if logged_in %}
        <a href="/image" class="flex items-center text-navbar-buttons hover:text-navbar-buttons-acc hover:scale-110">
            Images
        </a>
        <a href="/user/manage"
           class="flex items-center  text-navbar-buttons hover:text-navbar-buttons-acc hover:scale-110">
            Profile
        </a>
        <a href="/user/logout"
           class="flex items-center  text-navbar-buttons hover:text-navbar-buttons-acc hover:scale-110">
            Log out
        </a>
        {% else %}
        <a href="/user/login"
           class="flex items-center  text-navbar-buttons hover:text-navbar-buttons-acc hover:scale-110">
            Admin
        </a>
        {% endif %}
    </div>
</div>

<script>
    function toggleMenu() {
        const menu = document.getElementById('phone-menu');
        const isExpanded = !menu.classList.contains('hidden');

        if (isExpanded) {
            menu.classList.add('hidden');
        } else {
            menu.classList.remove('hidden');
        }
    }
</script>
