<div class="max-w-7xl mx-auto px-4 sm:px-8 mb-10 md:mb-5 ">
    <!-- Header Section -->
    <div class="flex flex-col items-center py-6">
        <h2 class="text-4xl font-bold text-sat-xl">Models</h2>
        {% if logged_in %}
        <button hx-get="/model/create" hx-target-error="#content-area" hx-push-url="/model/create"
                hx-target="#content-area"
                class="bg-acc  text-button font-bold py-2 px-6 rounded-lg focus:outline-none focus:ring focus:ring-stone-300 hover:scale-105 transition-all duration-200"
                type="submit">
            New Model
        </button>
        {% endif %}
    </div>

    <!-- Models by Brand -->
    <div class="space-y-8">
        {% for (brand, models) in models | items %}
        <div class="bg-panes rounded-lg p-6 shadow-md">
            <!-- Brand Section -->
            <h3 class="text-3xl font-bold text-sat-xl mb-4">{{ brand }}</h3>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                {% for model in models %}
                {% include "model/card/content.html" %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
