<div class="max-w-7xl mx-auto px-4 sm:px-8 mb-10 md:mb-5 ">
    <!-- Header Section -->
    <div class="flex flex-col justify-center items-center py-6">
        <h2 class="text-4xl font-bold text-sat-xl">Brands</h2>
        {% if logged_in %}
        <button hx-get="/brand/create" hx-target-error="#content-area" hx-push-url="/brand/create"
                hx-target="#content-area"
                class="bg-acc  text-button font-bold py-2 px-6 rounded-lg focus:outline-none focus:ring focus:ring-stone-300 hover:scale-105 transition-all duration-200"
                type="submit">
            New Brand
        </button>
        {% endif %}
    </div>


    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        {% for brand in brands %}
        <a href="/brand/{{ brand.id }}">
            <div class="flex items-center justify-center h-16 px-4 pt-2 bg-cards border border-base rounded-lg shadow hover:shadow-md transition-all duration-200">
                <div class="text-center">
                    <h4 class="text-lg font-semibold text-sat-l ">{{ brand.name }}</h4>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>