<div id="transmit-form" class="max-w-7xl mx-auto mb-10 md:mb-5">
    <section class="text-center py-12 mb-3">
        <h2 class="text-2xl md:text-3xl font-extrabold text-sat-xl mb-8">Transmit</h2>

        <!-- Card -->
        <div class="rounded-lg border border-base bg-cards p-6 shadow-md mb-8">
            <h3 class="text-2xl font-medium mb-4 text-sat-l">Device Info</h3>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <!-- ID -->
                <div class="flex flex-col">
                    <span class="text-xs uppercase tracking-wide text-sat-m">ID</span>
                    <span class="font-mono text-code"><code>{{ device.id }}</code></span>
                </div>

                <!-- MAC -->
                <div class="flex flex-col">
                    <span class="text-xs uppercase tracking-wide text-sat-m">Name</span>
                    <span class="font-mono text-code"><code>{{ device.name }}</code></span>
                </div>

                <!-- MAC -->
                <div class="flex flex-col">
                    <span class="text-xs uppercase tracking-wide text-sat-m">Device MAC</span>
                    <span class="font-mono text-code"><code>{{ device.mac }}</code></span>
                </div>

                <!-- IP -->
                <div class="flex flex-col">
                    <span class="text-xs uppercase tracking-wide text-sat-m">Device IP</span>
                    <span class="font-mono text-code"><code>{{ device.ip }}</code></span>
                </div>

                <!-- MAC -->
                <div class="flex flex-col">
                    <span class="text-xs uppercase tracking-wide text-sat-m">Transmit duration</span>
                    <span class="text-sat-l">{{ device.duration }} seconds</span>
                </div>

                <!-- IP -->
                <div class="flex flex-col">
                    <span class="text-xs uppercase tracking-wide text-sat-m">Transmit interval</span>
                    <span class="text-sat-l">{{ device.interval }} milliseconds</span>
                </div>

            </div>
        </div>

        <div class="rounded-lg border border-base bg-cards p-6 shadow-md mb-8">
            <div class="flex flex-col items-center space-y-2">
                <span class="text-xs uppercase tracking-wide text-sat-m">Your IP</span>
                <span class="font-mono text-code"><code>{{ client_ip }}</code></span>
            </div>


            <div class="mt-8">
                {% if packet_transmit_request is not none %}
                <div class="mt-6">
                    <button
                            hx-delete="/device/{{ device.id }}/transmit/{{ packet_transmit_request.id }}?return_url=/device/{{ device.id }}/transmit"
                            hx-target="#transmit-form"
                            hx-target-error="#transmit-result"
                            type="submit"
                            class="inline-flex items-center rounded-md border border-base bg-red-500 px-6 py-3 text-lg font-medium text-button hover:bg-red-600 transition-colors"
                    >
                        Stop transmitting
                    </button>
                </div>
                {% else %}
                <!-- Conditional Form -->
                <form
                        method="post"
                        hx-post="/device/{{ device.id }}/transmit"
                        hx-target="#transmit-form"
                        hx-target-error="#transmit-result"
                        class="space-y-4 mb-6"
                >
                    {% if device.acl_pwd_hash is not none %}
                    <div class="flex flex-col text-left">
                        <label for="acl_pwd" class="text-xs uppercase tracking-wide text-sat-l mb-1">
                            Password
                        </label>
                        <input
                                id="acl_pwd"
                                name="acl_pwd"
                                type="password"
                                class="rounded-md border border-base bg-bg px-3 py-2 text-code focus:outline-none focus:ring-2 focus:ring-acc"
                                placeholder="Enter password"
                        >
                    </div>
                    {% endif %}

                    <!-- Transmit Button -->
                    <div class="mt-6">
                        <button
                                type="submit"
                                class="inline-flex items-center rounded-md border border-base bg-green-500 px-6 py-3 text-lg font-medium text-button hover:bg-green-600 transition-colors"
                        >
                            Transmit to your device
                        </button>
                    </div>
                </form>
                {% endif %}
                <div id="transmit-result" class="mt-4 text-sat-m"></div>
            </div>
        </div>

    </section>
</div>
