<div class="max-w-7xl mx-auto px-4 sm:px-8">
    <section class="py-8 text-center">
        <div class="bg-panes rounded-lg p-6 shadow-md">
            <h1 class="text-4xl font-bold text-sat-xl">About Us</h1>
            <p class="mt-4 text-sat-m text-lg">We are a small family-run business specializing in restoring and selling
                vintage bikes. Every bike we sell tells a story and gets a new life, thanks to our passion and
                craftsmanship.</p>
        </div>
    </section>

    <section class="py-8 text-center">
        <div class="bg-panes rounded-lg p-6 shadow-md">
            <h2 class="text-2xl font-semibold text-sat-xl mb-4">Our Story</h2>
            <p class="text-sat-m text-lg">Based in Slovakia, our family workshop is where passion meets precision. My
                dad, an avid bike enthusiast and craftsman, has been restoring bicycles for years. Together, we breathe
                new life into timeless brands like <strong>Colnago</strong>, <strong>Hetchins</strong>,
                <strong>Bianchi</strong>, and <strong>Peugeot</strong>. Every vintage bike we restore combines history,
                artistry, and functionality. We take pride in preserving cycling heritage and sharing it with
                enthusiasts worldwide.</p>


            <div class="pswp-gallery" id="about-us-gallery">
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6">
                    {% for image in images %}
                    <a href="{{ image.path }}" data-pswp-width="{{ image.width }}" data-pswp-height="{{ image.height }}"
                       target="_blank">
                        <div class="w-full h-80 rounded-lg overflow-hidden shadow-md hover:scale-105 transition-transform">
                            <img class="object-cover w-full h-full" src="{{ image.thumbnail_path }}" alt="Image">
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="py-8 text-center">
        <div class="bg-panes rounded-lg p-6 shadow-md">
            <h2 class="text-2xl font-semibold text-sat-xl mb-4">Buying</h2>
            <p class="text-sat-m text-lg">
                If you're interested in purchasing our bicycles,
                click the <strong>Make an Inquiry</strong> button on the bike's detail page.
                Fill out the form and submit your request.
                We will reach out to you to finalize payment and shipping arrangements.
            </p>
            <div class="flex justify-center items-center">
                <img class="w-60 items-center" src=/static/images/about-make_an_inquiry.png alt="Image">
            </div>
        </div>
    </section>


    <section class="my-10">
        <div class="bg-panes rounded-lg p-6 shadow-md">
            <h2 class="text-2xl font-semibold text-sat-xl mb-4">Get in Touch</h2>
            <p class="text-sat-m text-lg">Feel free to reach out or visit us at our workshop. We’d love to hear from
                you!</p>
            <div class="bg-forms p-6 rounded-md shadow-md mt-4">
                <ul class="list-none text-forms">
                    <li><strong>Address:</strong> Tehelná 87, Nové Mesto nad Váhom, Slovakia</li>
                    <li><strong>Phone:</strong> <a class="text-acc-xl" href="tel:+421907811808">+421 907 811 808</a>
                    </li>
                    <li><strong>Email:</strong> <a class="text-acc-xl" href="mailto:colnago.tilia@gmail.com">colnago.tilia@gmail.com</a>
                    </li>
                    <li><strong>Hours:</strong> Mon-Fri: 8:00 AM - 5:00 PM, Sat: 8:00 AM - 12:00 PM</li>

                </ul>
            </div>
            <!-- Contact Form Section -->
            <section>
                <div id="bike-contact" class="container rounded-lg mt-4">
                    <form hx-post="/user/contact/about" hx-target="#success-area" hx-target-error="#error-area"
                          class="bg-forms shadow-md rounded px-8 pt-6 pb-8 mb-4">
                        <h2 class="block text-forms text-xl font-bold mb-2 text-center">Contact Us</h2>
                        {% include "components/form.html" %}
                    </form>
                </div>

            </section>

        </div>
    </section>
</div>

<script type='module'>
    import PhotoSwipeLightbox from '/static/photoswipe/photoswipe-lightbox.esm.js';

    const lightbox = new PhotoSwipeLightbox({
        gallery: '#about-us-gallery',
        children: 'a',
        pswpModule: () => import('/static/photoswipe/photoswipe.esm.js')
    });
    lightbox.init();
</script>