<div id="user-mgmt-password">
    <div class="max-w-5xl mx-auto bg-cards border rounded-lg border-base">
        <form hx-post="/user/manage/password" hx-target="#user-mgmt-password" hx-target-error="#content-area"
              class="  p-5 flex flex-col items-center">
            {% if success %}
            <div id="success-area" class="text-success mb-3" onclick=" { this.style.display = 'none'; }">

                {% else %}
                <div id="error-area2" class="text-error mb-3" onclick=" { this.style.display = 'none'; }">
                    {% endif %}
                    {{ message }}
                </div>
                <div class="justify-between w-full">
                    <div class="flex flex-col space-y-2 w-full px-2">
                        <input type="password" name="old_password" placeholder="Old Password"
                               class="p-3 rounded border border-base text-forms-input ">
                        <input type="password" name="new_password" placeholder="New Password"
                               class="p-3 rounded border border-base text-forms-input ">
                        <input type="password" name="confirm_password" placeholder="Confirm New Password"
                               class="p-3 rounded border border-base text-forms-input">
                    </div>
                </div>
                <span>
                <div class="flex m-2">
                      <button hx-get="/user/manage" hx-replace-url="false" hx-target="#profile-update-fields"
                         hx-target-error="#content-area" hx-swap="innerHTML"
                         hx-boost="true"
                         class="bg-acc  rounded-md p-2 text-button text-md mr-2">
                            Back
                        </button>
                    <button type="submit"
                            class="bg-acc  rounded-md p-2 text-button text-md mr-2">
                        Change Password
                     </button>
                </div>
        </span>
            </div>
        </form>

    </div>
</div>