<div class="container mx-auto p-6 max-w-7xl">
    <form hx-post="/bike/edit" hx-push-url="/bike/{{ bike.id }}" hx-target="#content-area"
          hx-target-error="#content-area" class="mb-4 rounded bg-forms px-8 pb-8 pt-6 shadow-md">
        <h2 class="mb-2 block text-center text-xl font-bold text-forms">Edit Bike</h2>
        <input class="hidden" name="bike_id" value="{{bike.id}}">
        <div class="mb-4">
            <label class="mb-2 block text-sm font-bold text-forms" for="bike-name"> Name </label>
            <input name="name"
                   class="focus:shadow-outline w-full appearance-none rounded border px-3 py-2 leading-tight text-forms-input shadow focus:outline-none"
                   id="bike-name" type="text" value="{{bike.name}}"/>
        </div>

        <!--        <div class="mb-4">-->
        <!--            <label class="mb-2 block text-sm font-bold text-forms" for="brand"> Brand </label>-->
        <!--            <select name="brand_id" class="focus:shadow-outline w-full rounded border px-3 py-2 leading-tight text-forms shadow focus:outline-none" id="brand">-->
        <!--                {% for brand in brands %}-->
        <!--                    {% if bike.brand_id == brand.id %}-->
        <!--                        <option selected value="{{ brand.id }}">{{ brand.name }}</option>-->
        <!--                    {% else %}-->
        <!--                        <option value="{{ brand.id }}">{{ brand.name }}</option>-->
        <!--                    {% endif %}-->
        <!--                {% endfor %}-->
        <!--            </select>-->
        <!--        </div>-->

        <div class="mb-4">
            <label class="mb-2 block text-sm font-bold text-forms" for="model"> Model </label>
            <select name="model_id"
                    class="focus:shadow-outline w-full rounded border px-3 py-2 leading-tight text-forms-input shadow focus:outline-none"
                    id="model">
                {% for model in models %}
                <option value="{{ model.id }}" {% if model.id== bike.model_id %}selected{% endif %}>
                    {{ model.brand_name }} - {{ model.name }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-4">
            <label class="block text-forms text-sm font-bold mb-2" for="year">Year</label>
            <input name="year" value="{{ bike.year }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-forms-input leading-tight focus:outline-none focus:shadow-outline" id="year" type="number" placeholder="Year">
        </div>

        <div class="mb-4">
            <label class="block text-forms text-sm font-bold mb-2" for="price">Price</label>
            <input name="price" value="{{ bike.price }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-forms-input leading-tight focus:outline-none focus:shadow-outline" id="price" type="number" step=".01" placeholder="Price">
        </div>

        <div class="mb-4">
            <label class="block text-forms text-sm font-bold mb-2" for="height">Height</label>
            <input name="height" value="{{ bike.height }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-forms-input leading-tight focus:outline-none focus:shadow-outline" id="height" type="number" placeholder="Height">
        </div>

        <div class="mb-4">
            <label class="block text-forms text-sm font-bold mb-2" for="top_tube_size">Top Tube Size</label>
            <input name="top_tube_size" value="{{ bike.top_tube_size }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-forms-input leading-tight focus:outline-none focus:shadow-outline" id="top_tube_size" type="number" placeholder="Top Tube Size">
        </div>

        <div class="mb-4">
            <label class="block text-forms text-sm font-bold mb-2" for="frame">Frame</label>
            <input name="frame" value="{{ bike.frame }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-forms-input leading-tight focus:outline-none focus:shadow-outline" id="frame" type="text" placeholder="Frame">
        </div>

        <div class="mb-4">
            <label class="block text-forms text-sm font-bold mb-2" for="seat_tube_sizes">Seat Tube Sizes</label>
            <input name="seat_tube_sizes" value="{{ bike.seat_tube_sizes }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-forms-input leading-tight focus:outline-none focus:shadow-outline" id="seat_tube_sizes" type="text" placeholder="Seat Tube Sizes">
        </div>

        <div class="mb-4">
            <label class="block text-forms text-sm font-bold mb-2" for="headset">Headset</label>
            <input name="headset" value="{{ bike.headset }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-forms-input leading-tight focus:outline-none focus:shadow-outline" id="headset" type="text" placeholder="Headset">
        </div>

        <div class="mb-4">
            <label class="block text-forms text-sm font-bold mb-2" for="crankset">Crankset</label>
            <input name="crankset" value="{{ bike.crankset }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-forms-input leading-tight focus:outline-none focus:shadow-outline" id="crankset" type="text" placeholder="Crankset">
        </div>

        <div class="mb-4">
            <label class="block text-forms text-sm font-bold mb-2" for="bottom_bracket">Bottom Bracket</label>
            <input name="bottom_bracket" value="{{ bike.bottom_bracket }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-forms-input leading-tight focus:outline-none focus:shadow-outline" id="bottom_bracket" type="text" placeholder="Bottom Bracket">
        </div>

        <div class="mb-4">
            <label class="block text-forms text-sm font-bold mb-2" for="front_derail">Front Derailleur</label>
            <input name="front_derail" value="{{ bike.front_derail }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-forms-input leading-tight focus:outline-none focus:shadow-outline" id="front_derail" type="text" placeholder="Front Derailleur">
        </div>

        <div class="mb-4">
            <label class="block text-forms text-sm font-bold mb-2" for="rear_derail">Rear Derailleur</label>
            <input name="rear_derail" value="{{ bike.rear_derail }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-forms-input leading-tight focus:outline-none focus:shadow-outline" id="rear_derail" type="text" placeholder="Rear Derailleur">
        </div>

        <div class="mb-4">
            <label class="block text-forms text-sm font-bold mb-2" for="brakes">Brakes</label>
            <input name="brakes" value="{{ bike.brakes }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-forms-input leading-tight focus:outline-none focus:shadow-outline" id="brakes" type="text" placeholder="Brakes">
        </div>

        <div class="mb-4">
            <label class="block text-forms text-sm font-bold mb-2" for="shifters">Shifters</label>
            <input name="shifters" value="{{ bike.shifters }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-forms-input leading-tight focus:outline-none focus:shadow-outline" id="shifters" type="text" placeholder="Shifters">
        </div>

        <div class="mb-4">
            <label class="block text-forms text-sm font-bold mb-2" for="brake_levers">Brake Levers</label>
            <input name="brake_levers" value="{{ bike.brake_levers }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-forms-input leading-tight focus:outline-none focus:shadow-outline" id="brake_levers" type="text" placeholder="Brake Levers">
        </div>

        <div class="mb-4">
            <label class="block text-forms text-sm font-bold mb-2" for="saddle">Saddle</label>
            <input name="saddle" value="{{ bike.saddle }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-forms-input leading-tight focus:outline-none focus:shadow-outline" id="saddle" type="text" placeholder="Saddle">
        </div>

        <div class="mb-4">
            <label class="block text-forms text-sm font-bold mb-2" for="seat_post">Seat Post</label>
            <input name="seat_post" value="{{ bike.seat_post }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-forms-input leading-tight focus:outline-none focus:shadow-outline" id="seat_post" type="text" placeholder="Seat Post">
        </div>

        <div class="mb-4">
            <label class="block text-forms text-sm font-bold mb-2" for="hubs">Hubs</label>
            <input name="hubs" value="{{ bike.hubs }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-forms-input leading-tight focus:outline-none focus:shadow-outline" id="hubs" type="text" placeholder="Hubs">
        </div>

        <div class="mb-4">
            <label class="block text-forms text-sm font-bold mb-2" for="rims">Rims</label>
            <input name="rims" value="{{ bike.rims }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-forms-input leading-tight focus:outline-none focus:shadow-outline" id="rims" type="text" placeholder="Rims">
        </div>

        <div class="mb-4">
            <label class="block text-forms text-sm font-bold mb-2" for="handlebar">Handlebar</label>
            <input name="handlebar" value="{{ bike.handlebar }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-forms-input leading-tight focus:outline-none focus:shadow-outline" id="handlebar" type="text" placeholder="Handlebar">
        </div>

        <div class="mb-4">
            <label class="block text-forms text-sm font-bold mb-2" for="stem">Stem</label>
            <input name="stem" value="{{ bike.stem }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-forms-input leading-tight focus:outline-none focus:shadow-outline" id="stem" type="text" placeholder="Stem">
        </div>

        <div class="mb-4">
            <label class="mb-2 block text-sm font-bold text-forms" for="description"> Description </label>
            <textarea name="description"
                      rows="30"
                      class="focus:shadow-outline w-full appearance-none rounded border px-3 py-2 leading-tight text-forms-input shadow focus:outline-none"
                      id="description">{{ bike.description }}</textarea>
        </div>

        <div class="flex justify-end">
            <button hx-target="#content-area" hx-target-error="#content-area"
                    class="focus:shadow-outline rounded bg-acc px-4 py-2 font-bold text-button  focus:outline-none"
                    type="submit">
                Save
            </button>
        </div>
    </form>
</div>
