<div class="max-w-7xl mx-auto px-4 sm:px-8 mb-8">
    <section class="text-center py-12 mb-3">

        <h1 class="text-3xl md:text-5xl font-extrabold text-sat-xl mb-8">eduMDNS</h1>
        <h2 class="text-2xl md:text-3xl font-extrabold text-sat-xl mb-8">Connecting discoverable devices</h2>

        <div class="bg-panes rounded-lg p-6 shadow-md">
            <h2 class="text-xl font-extrabold text-sat-xl mb-10">heading 2</h2>

            <h3 class="text-sat-l mt-10">Info Notice</h3>
            <p class="text-lg text-sat-m">
            </p>
        </div>
    </section>

</div>