<div class="max-w-7xl mx-auto px-4 sm:px-8 mb-8">
    <section class="text-center py-12 mb-3">

        <h1 class="text-3xl md:text-5xl font-extrabold text-sat-xl mb-8">eduMDNS</h1>
        <h2 class="text-2xl md:text-3xl font-extrabold text-sat-xl mb-8">Connecting discoverable devices</h2>

        <div class="bg-panes rounded-lg p-6 shadow-md">
            <h2 class="text-xl font-extrabold text-sat-xl mb-10">heading 2</h2>

            <h3 class="text-sat-l mt-10">Info Notice</h3>
            <p class="text-lg text-sat-m">
            </p>
        </div>
    </section>

<!--    &lt;!&ndash; Popular Bikes Section &ndash;&gt;-->
<!--    <section class="mb-12">-->
<!--        <div class="bg-panes rounded-lg p-6 shadow-md">-->
<!--            <h2 class="text-3xl font-bold text-sat-xl mb-4">Most Popular</h2>-->
<!--            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-4">-->

<!--            </div>-->

<!--            <a href="/bike" class="block text-center mt-4 text-acc  font-semibold">-->
<!--                Explore all bikes-->
<!--            </a>-->
<!--        </div>-->
<!--    </section>-->

<!--    <section class="mb-12">-->
<!--        <div class="bg-panes rounded-lg p-6 shadow-md">-->
<!--            <h2 class="text-3xl font-bold text-sat-xl mb-4">Our Bikes</h2>-->
<!--            <p class="text-sat-l leading-relaxed">-->
<!--                Our collection of almost 30 bikes is available for sale, either individually or in larger quantities.-->
<!--                Bikes are restored to-->
<!--                impeccable condition and stored in a dry environment that helps maintain their condition - actually our-->
<!--                living room.-->
<!--            </p>-->
<!--            <div class="pswp-gallery" id="index-our-bikes">-->
<!--                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6">-->

<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->

<!--    &lt;!&ndash; Informational Section &ndash;&gt;-->
<!--    <section class="bg-panes p-6 rounded-lg shadow-md">-->
<!--        <h3 class="text-2xl font-semibold text-sat-xl mt-6 mb-2">Heritage and Innovation</h3>-->
<!--        <p class="leading-relaxed text-sat-l">-->
<!--        <p class="leading-relaxed text-sat-l" >In the 20th century, especially between 1970 and 1990, cycling became not just a sport but a lifestyle. Bikes-->
<!--            from this period are valued for their combination of craftsmanship and functionality. Steel frames,-->
<!--            hand-brazed-->
<!--            joints, unique geometries, and innovative components turned vintage bicycles into treasures that still hold-->
<!--            high-->
<!--            value today.</p>-->

<!--        <p class="leading-relaxed text-sat-l">Bikes from this era were used not only for racing but also for recreational cycling. Brands like Bianchi,-->
<!--            Peugeot, and Colnago were industry leaders, each bringing something unique. The most notable was the Italian-->
<!--            brand Colnago, whose bold innovations and aesthetic sense influenced the entire cycling world.</p>-->
<!--        <p class="mt-4 inline-block text-sat-l">-->
<!--            Learn more about Colnago on their <a href="https://www.colnago.com/" target="_blank"-->
<!--                                                 class="text-amber-600 hover:text-amber-700 underline">website</a>-->
<!--        </p>-->
<!--        <p class="mt-4 inline-block text-sat-l">or on the <a href="https://www.bikeradar.com/" target="_blank"-->
<!--                                                  class="text-amber-600 hover:text-amber-700 underline">BikeRadar</a>-->
<!--        </p>.-->

<!--    </section>-->
</div>