<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
<body class="h-screen flex justify-center items-center bg-page">
<div id="login_box" class="w-full h-full flex justify-center items-center">
    <form action="/login" method="post" class="bg-cards shadow-lg
    rounded-lg p-5 flex flex-col items-center
    max-w-full w-96 mx-4 md:w-96 sm:w-96 lg:w-96 xl:w-1/4">
        <h2 class="text-forms text-2xl mb-6">Login</h2>
        <div id="error-area" class="text-error mb-3">
            {{ message }}
        </div>
        <div class="w-full mb-6 flex flex-col gap-2.5">
            <input type="email" name="email" placeholder="Email" class="p-2.5 rounded">
            <input type="password" name="password" placeholder="Heslo" class="p-2.5 rounded">
            <input type="hidden" name="return_url" value="{{ return_url }}">
        </div>

        <!-- Local login button -->
        <button type="submit"
                class="w-full bg-acc rounded-md p-3 text-button text-lg shadow-md">
            Login
        </button>

        <!-- Divider -->
        <div class="flex items-center my-4 w-full">
            <div class="flex-grow border-t border-gray-300"></div>
            <span class="mx-2 text-gray-500 text-sm">OR</span>
            <div class="flex-grow border-t border-gray-300"></div>
        </div>
        <!-- OIDC login button -->
        <button type="button"
                onclick="window.location.href='/oidc/redirect?ret={{ return_url }}'"
                class="w-full flex items-center justify-center gap-2 bg-blue-700 rounded-md p-3 text-lg shadow-md text-white">
            <span>Login with </span>
            <img src="/static/images/muni-lg-white.png" alt="MUNI" class="h-10">
        </button>

        <!-- <p class="text-white">Are you new here? <a href="/user/register" class="text-stone-600 hover:text-stone-400">Create an account</a>.</p> -->
    </form>
</div>
</body>
</html>
